{extend name="$lake_admin_layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-header layui-bg-cyan">编辑字段</div>
    <div class="layui-card-body">
        <blockquote class="layui-elem-quote">
			<p>默认以下字段名称已存在，请不要建立同名的字段：<br>uid、view、create_time、updatetime、status</p>
		</blockquote>
        <form class="layui-form" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">字段名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="name" lay-verify="required" placeholder="字段名称" class="layui-input" value="{$data.name}">
                </div>
                <div class="layui-form-mid layui-word-aux">字母、数字组成，并且仅能字母开头</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">字段标题</label>
                <div class="layui-input-inline">
                    <input type="text" name="title" lay-verify="required" placeholder="字段标题" class="layui-input" value="{$data.title}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">字段描述</label>
                <div class="layui-input-inline w300">
                    <textarea name="remark" placeholder="字段的相关描述" class="layui-textarea">{$data.remark}</textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">字段类型</label>
                <div class="layui-input-inline">
                    <select name="type" lay-filter="fieldtype" lay-verify="required">
                        <option></option>
                        {volist name="fieldType" id="vo"}
                        <option value="{$vo.name}" {if $data.type==$vo.name}selected{/if} data-define="{$vo.default_define}" data-ifoption="{$vo.ifoption}" data-ifstring="{$vo.ifstring}">{$vo.title}</option>
                        {/volist}
                    </select>
                </div>
            </div>
			
            <div class="layui-form-item">
                <label class="layui-form-label">字段长度</label>
                <div class="layui-input-inline">
                    <input type="text" name="length" lay-verify="required" placeholder="字段长度" class="layui-input" value="{$data.length}">
                </div>
            </div>
			
            <div class="layui-form-item">
                <label class="layui-form-label">验证方式</label>
                <div class="layui-input-inline">
                    <select name="validate_type" lay-verify="required">
                        {volist name="validate_rule" id="vo"}
							<option value="{$key}" {if $data.validate_type==$key}selected{/if}>{$vo}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">数据校验</label>
                <div class="layui-input-inline w300">
                    <input type="text" name="validate_rule" autocomplete="off" placeholder="正则校验数据合法性，留空不校验" class="layui-input" value="{$data.validate_rule}" id="pattern">
                </div>
                <div class="layui-input-inline">
                    <select lay-filter="pattern">
                        <option data-define="">常用正则</option>
                        <option data-define="/^[0-9.-]+$/">数字</option>
                        <option data-define="/^[0-9-]+$/">整数</option>
                        <option data-define="/^[a-zA-Z]+$/i">字母</option>
                        <option data-define="/^[0-9a-zA-Z]+$/i">数字+字母</option>
                        <option data-define="/^[\x{4e00}-\x{9fa5}]+$/u">中文</option>
                        <option data-define="/^[\x{4e00}-\x{9fa5}0-9a-zA-Z\_\-]+$/u">数字+字母+中文</option>
                        <option data-define="/^[\w\-\.]+@[\w\-\.]+(\.\w+)+$/">E-mail</option>
                        <option data-define="/^[0-9]{5,20}$/">QQ</option>
                        <option data-define="/^http:\/\//">超级链接</option>
                        <option data-define="/^(1)[0-9]{10}$/">手机号码</option>
                        <option data-define="/^[0-9-]{6,13}$/">电话号码</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">提示信息</label>
                <div class="layui-input-inline">
                    <input type="text" name="error_info" placeholder="数据校验未通过的提示信息" class="layui-input" value="{$data.error_info}">
                </div>
            </div>
			
            <div class="layui-form-item">
                <label class="layui-form-label">验证时间</label>
                <div class="layui-input-inline">
                    <select name="validate_time" lay-verify="required">
                        {volist name="the_time" id="vo"}
							<option value="{$the_time[$key]}" {if $data.validate_time==$vo}selected{/if}>{$vo}</option>
                        {/volist}
                    </select>
                </div>
            </div>
			
            <div id="options" {if !isset($fieldType[$data['type']]) || !$fieldType[$data['type']]['ifoption']}style="display:none"{/if}>
                <div class="layui-form-item">
                    <label class="layui-form-label">选项</label>
                    <div class="layui-input-inline w300">
                        <textarea name="extra" placeholder="值:描述
值:描述
值:描述
....." class="layui-textarea">{$data.extra}</textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">筛选字段</label>
                    <div class="layui-input-inline">
                        <input type="radio" name="is_filter" value="1" title="是" {if $data.is_filter==1}checked{/if}>
                        <input type="radio" name="is_filter" value="0" title="否" {if $data.is_filter==0}checked{/if}>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">字段默认值</label>
                <div class="layui-input-inline">
                    <input type="text" name="value" lay-verify="value" autocomplete="off" placeholder="默认插入字段的值" class="layui-input" value="{$data.value}">
                </div>
            </div>
			
            <div class="layui-form-item">
                <label class="layui-form-label">编辑显示</label>
                <div class="layui-input-inline">
                    <select name="show_type" lay-verify="required">
                        <option value="1" {if $data.show_type==1}selected{/if} >全部显示</option>
                        <option value="2" {if $data.show_type==2}selected{/if} >添加显示</option>
                        <option value="3" {if $data.show_type==3}selected{/if} >编辑显示</option>
                        <option value="0" {if $data.show_type==0}selected{/if} >全不显示</option>
                    </select>
                </div>
            </div>			
			
            <div class="layui-form-item">
                <label class="layui-form-label">是否必填</label>
                <div class="layui-input-inline">
                    <input type="radio" name="is_must" value="1" title="是" {if $data.is_must==1}checked{/if}>
                    <input type="radio" name="is_must" value="0" title="否" {if $data.is_must==0}checked{/if}>
                </div>
            </div>
            <div class="layui-form-item" id="is_filter" {if !in_array($data['type'],['text', 'textarea', 'tags', 'Ueditor'])}style="display:none"{/if}>
                <label class="layui-form-label">是否可搜索</label>
                <div class="layui-input-inline">
                    <input type="radio" name="is_filter" value="1" title="是" {if $data.is_filter==1}checked{/if}>
                    <input type="radio" name="is_filter" value="0" title="否" {if $data.is_filter==0}checked{/if}>
                </div>
            </div>
			
            <div class="layui-form-item">
                <label class="layui-form-label">是否显示</label>
                <div class="layui-input-inline">
                    <input type="radio" name="is_show" value="1" title="是" {if $data.is_show==1}checked{/if}>
                    <input type="radio" name="is_show" value="0" title="否" {if $data.is_show==0}checked{/if}>
                </div>
                <div class="layui-form-mid layui-word-aux">是否在后台列表显示</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">列表显示</label>
                <div class="layui-input-inline">
                    <input type="radio" name="is_list_show" value="1" title="是" {if $data.is_list_show==1}checked{/if}>
                    <input type="radio" name="is_list_show" value="0" title="否" {if $data.is_list_show==0}checked{/if}>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">详情显示</label>
                <div class="layui-input-inline">
                    <input type="radio" name="is_detail_show" value="1" title="是" {if $data.is_detail_show==1}checked{/if}>
                    <input type="radio" name="is_detail_show" value="0" title="否" {if $data.is_detail_show==0}checked{/if}>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">浏览量</label>
                <div class="layui-input-inline">
                    <input type="radio" name="is_view" value="1" title="是" {if $data.is_view==1}checked{/if}>
                    <input type="radio" name="is_view" value="0" title="否" {if $data.is_view==0}checked{/if}>
                </div>
            </div>
			
            <div class="layui-form-item">
                <label class="layui-form-label">排序</label>
                <div class="layui-input-inline">
                    <input type="text" name="sort" lay-verify="sort" autocomplete="off" placeholder="字段排序" class="layui-input" value="{$data.sort}">
                </div>
            </div>
			
            <div class="layui-form-item">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-inline">
                    <input type="radio" name="status" value="1" title="启用" {if $data.status==1}checked{/if}>
                    <input type="radio" name="status" value="0" title="禁用" {if $data.status==0}checked{/if}>
                </div>
            </div>
            <input name="form_id" type="hidden" value="{$data['form_id']}" />
            <input name="id" type="hidden" value="{$data['id']}" />
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="formSubmit">立即提交</button>
                    <button class="layui-btn layui-btn-normal" type="button" onclick="javascript:history.back(-1);">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>
{/block}
{block name="script"}
<script>
layui.use(['layer', 'form'], function() {
    var layer = layui.layer,
        form = layui.form;
    form.on('select(fieldtype)', function(data) {
        var ifoption = $(data.elem).find("option:selected").attr("data-ifoption");
        var ifstring = $(data.elem).find("option:selected").attr("data-ifstring");
        //搜索隐显
        if (ifstring == '1') {
            $('#is_filter').show();
        } else {
            $('#is_filter').hide();
        }
        if (ifoption == '1') {
            $('#options').show();
        } else {
            $('#options').hide();
        }
    });
    form.on('select(pattern)', function(data) {
        $('#pattern').val($(data.elem).find("option:selected").attr("data-define"));
    });
});
</script>
{/block}
